*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f4f7fa ;
}
.card{
    width: 480px;
    height: 700px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    overflow: hidden;
}
.image{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
}
.image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.card:hover .image::after{
    opacity: 1;
    background: hsl(120, 2%, 45%,0.5);
}
img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    transition: all 0.5s;
}
.date{
    color: #fff;
    width: 80px;
    height: 80px;
    background-color: tomato;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 25px;
    right: 25px;
}
.interactive{
    display: flex;
    flex-direction: row;
    width: 100%;
   background-color: #fff;
    height: 100px;
    padding-left: 30px;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 17px;
    color: #767576;
 
}
.time{
    margin-right: 25px;
}
.noidung{
    
    padding-top: 30px;
   
    line-height: 40px;
    color: #767576;
}
.post{
    position: relative;
}
.category{
    width: 100px;
    height: 40px;
    background-color: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: -40px;
}

.noidung h2{
    color: tomato;
    margin-top: 20px;
}
.noidung h1{
    color: black;
}
.content{
    background-color: #fff;
    transition: all 0.5s;
    position: absolute;
    top: 60%;
    height: 400px;
    padding: 0 60px 0 30px;
}
.card:hover .content{
   top: 40%;
 
}
.card:hover img{
    transform: scale(1.1);
}


